In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import os

In [3]:
import os
print(os.getcwd())

C:\Users\Hp\OneDrive\Desktop\recommender system\data

In [4]:
print(os.listdir())

['.ipynb_checkpoints', 'artifacts', 'recommender sys.ipynb', 'tmdb_5000_credits.csv', 'tmdb_5000_movies.csv', 'weightedrating.ipynb', 'z-score.ipynb']

In [5]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [6]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [7]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [8]:
movies.shape

(4803, 20)

In [9]:
movies = movies.merge(credits,on ='title')
credits.shape

(4803, 4)

In [10]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [11]:
movies.shape

(4809, 23)

In [12]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [13]:
movies = movies[['movie_id','title','overview','genres','cast','crew','keywords']]

In [14]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [15]:
movies.shape

(4809, 7)

In [16]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
cast        0
crew        0
keywords    0
dtype: int64

In [17]:
movies.dropna(inplace=True)

In [18]:
movies.shape

(4806, 7)

In [19]:
movies.duplicated().sum()

np.int64(0)

In [20]:
movies.head(2)

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."

In [21]:
movies.iloc[0]['genres']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [ ]:
import ast

def convert(text):
    l = []
    for i in ast.literal_eval(text):  
        l.append(i['name'])
    return l

In [24]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [25]:
movies['genres'] = movies['genres'].apply(convert)

In [ ]:
movies.head(2)

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."

In [27]:
movies.iloc[0]['keywords']

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [28]:
movies['keywords'] = movies['keywords'].apply(convert)

In [29]:
movies.head(2)

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[ocean, drug abuse, exotic island, east india ..."

In [30]:
movies.iloc[0]['cast']

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [31]:
movies['cast'] = movies['cast'].apply(convert)

In [32]:
movies.head(2)

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[ocean, drug abuse, exotic island, east india ..."

In [33]:
movies.iloc[0]['keywords']

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [36]:
movies.head(2)

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[ocean, drug abuse, exotic island, east india ..."

In [37]:
movies.iloc[0]['cast']

['Sam Worthington',
 'Zoe Saldana',
 'Sigourney Weaver',
 'Stephen Lang',
 'Michelle Rodriguez',
 'Giovanni Ribisi',
 'Joel David Moore',
 'CCH Pounder',
 'Wes Studi',
 'Laz Alonso',
 'Dileep Rao',
 'Matt Gerald',
 'Sean Anthony Moran',
 'Jason Whyte',
 'Scott Lawrence',
 'Kelly Kilgour',
 'James Patrick Pitt',
 'Sean Patrick Murphy',
 'Peter Dillon',
 'Kevin Dorman',
 'Kelson Henderson',
 'David Van Horn',
 'Jacob Tomuri',
 'Michael Blain-Rozgay',
 'Jon Curry',
 'Luke Hawker',
 'Woody Schultz',
 'Peter Mensah',
 'Sonia Yee',
 'Jahnel Curfman',
 'Ilram Choi',
 'Kyla Warren',
 'Lisa Roumain',
 'Debra Wilson',
 'Chris Mala',
 'Taylor Kibby',
 'Jodie Landau',
 'Julie Lamm',
 'Cullen B. Madden',
 'Joseph Brady Madden',
 'Frankie Torres',
 'Austin Wilson',
 'Sara Wilson',
 'Tamica Washington-Miller',
 'Lucy Briant',
 'Nathan Meister',
 'Gerry Blair',
 'Matthew Chamberlain',
 'Paul Yates',
 'Wray Wilson',
 'James Gaylyn',
 'Melvin Leno Clark III',
 'Carvon Futrell',
 'Brandon Jelkes',
 'Micah Moch',
 'Hanniyah Muhammad',
 'Christopher Nolen',
 'Christa Oliver',
 'April Marie Thomas',
 'Bravita A. Threatt',
 'Colin Bleasdale',
 'Mike Bodnar',
 'Matt Clayton',
 'Nicole Dionne',
 'Jamie Harrison',
 'Allan Henry',
 'Anthony Ingruber',
 'Ashley Jeffery',
 'Dean Knowsley',
 'Joseph Mika-Hunt',
 'Terry Notary',
 'Kai Pantano',
 'Logan Pithyou',
 'Stuart Pollock',
 'Raja',
 'Gareth Ruck',
 'Rhian Sheehan',
 'T. J. Storm',
 'Jodie Taylor',
 'Alicia Vela-Bailey',
 'Richard Whiteside',
 'Nikie Zambo',
 'Julene Renee']

In [39]:
movies.head(2)

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[ocean, drug abuse, exotic island, east india ..."

In [40]:
movies.iloc[0]['crew']

'[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

In [41]:
movies['crew'] = movies['crew'].apply(convert)

In [42]:
movies.head(2)

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...","[ocean, drug abuse, exotic island, east india ..."

In [43]:
import ast

def convert_cast(text):
    l = []
    counter=0
    for i in ast.literal_eval(text): 
        if counter<3:
             l.append(i['name'])
        counter +=1
    return l

In [44]:
import ast

def convert_cast(text):
    # If it's already a list (after previous processing), just take first 3 names
    if isinstance(text, list):
        return text[:3]
    
    # Otherwise convert the string into a list of dicts
    l = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            l.append(i['name'])
            counter += 1
        else:
            break
    return l

In [45]:
movies['cast'] = movies['cast'].apply(convert_cast)

In [46]:
movies.head(2)

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Stephen E. Rivkin, Rick Carter, Christopher B...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...","[ocean, drug abuse, exotic island, east india ..."

In [47]:
def fectch_director(text):
    l = []
    for i in ast.literal_eval(text):
        if i['job'] =='Director':
            l.append(i['name'])
        break
        return l

In [48]:
import ast

def fetch_director(text):
    try:
        crew_list = ast.literal_eval(text)
    except:
        # If already a list of strings, just return the first one
        if isinstance(text, list):
            return text[0] if len(text) else ""
        return ""
    
    # Search for director in parsed list of dicts
    for i in crew_list:
        if i.get('job') == 'Director':
            return i.get('name')
    return ""   # If no director found

In [49]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [50]:
movies.head(2)

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",Stephen E. Rivkin,"[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]",Dariusz Wolski,"[ocean, drug abuse, exotic island, east india ..."

In [51]:
movies.iloc[0]['overview']

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [52]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",Stephen E. Rivkin,"[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]",Dariusz Wolski,"[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux]",Thomas Newman,"[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman]",Hans Zimmer,"[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton,"[based on novel, mars, medallion, space travel..."

In [53]:
movies.iloc[0]['overview']

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [54]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",Stephen E. Rivkin,"[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]",Dariusz Wolski,"[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux]",Thomas Newman,"[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman]",Hans Zimmer,"[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton,"[based on novel, mars, medallion, space travel..."

In [56]:
movies['crew'] = movies['crew'].apply(lambda x: "".join(x))

In [57]:
movies.head()

,movie_id,title,overview,genres,cast,crew,keywords
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",Stephen E. Rivkin,"[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]",Dariusz Wolski,"[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux]",Thomas Newman,"[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman]",Hans Zimmer,"[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton,"[based on novel, mars, medallion, space travel..."

In [59]:
print(movies.columns)

Index(['movie_id', 'title', 'overview', 'genres', 'cast', 'crew', 'keywords'], dtype='object')

In [60]:
if 'tags' in movies.columns:
    print(movies['tags'].iloc[0])
else:
    print("Column 'tags' not found")

Column 'tags' not found

In [62]:
# Convert lists to strings safely
movies['tags'] = movies['title'].apply(lambda x: " ".join(x) if isinstance(x, list) else str(x)) + \
                 " " + \
                 movies['overview'].apply(lambda x: " ".join(x) if isinstance(x, list) else str(x))

In [63]:
movies.iloc[0]['tags']

'Avatar In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [64]:
new_df = movies[['movie_id','title','tags']]

In [65]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"Avatar In the 22nd century, a paraplegic Marin..."
1,285,Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's End Capta...
2,206647,Spectre,Spectre A cryptic message from Bond’s past sen...
3,49026,The Dark Knight Rises,The Dark Knight Rises Following the death of D...
4,49529,John Carter,"John Carter John Carter is a war-weary, former..."

In [66]:
new_df['tags']= new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\Hp\AppData\Local\Temp\ipykernel_2076\335926201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']= new_df['tags'].apply(lambda x:" ".join(x))

In [67]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,A v a t a r I n t h e 2 2 n d c e n t ...
1,285,Pirates of the Caribbean: At World's End,P i r a t e s o f t h e C a r i b b e a ...
2,206647,Spectre,S p e c t r e A c r y p t i c m e s s a ...
3,49026,The Dark Knight Rises,T h e D a r k K n i g h t R i s e s F ...
4,49529,John Carter,J o h n C a r t e r J o h n C a r t e r ...

In [68]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())
new_df.head()

C:\Users\Hp\AppData\Local\Temp\ipykernel_2076\510464446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

,movie_id,title,tags
0,19995,Avatar,a v a t a r i n t h e 2 2 n d c e n t ...
1,285,Pirates of the Caribbean: At World's End,p i r a t e s o f t h e c a r i b b e a ...
2,206647,Spectre,s p e c t r e a c r y p t i c m e s s a ...
3,49026,The Dark Knight Rises,t h e d a r k k n i g h t r i s e s f ...
4,49529,John Carter,j o h n c a r t e r j o h n c a r t e r ...

In [69]:
new_df.iloc[0]['tags']

'a v a t a r   i n   t h e   2 2 n d   c e n t u r y ,   a   p a r a p l e g i c   m a r i n e   i s   d i s p a t c h e d   t o   t h e   m o o n   p a n d o r a   o n   a   u n i q u e   m i s s i o n ,   b u t   b e c o m e s   t o r n   b e t w e e n   f o l l o w i n g   o r d e r s   a n d   p r o t e c t i n g   a n   a l i e n   c i v i l i z a t i o n .'

In [71]:
# Define your text
text = 'a v a t a r   i n   t h e   2 2 n d   c e n t u r y ,   a   p a r a p l e g i c   m a r i n e   i s   d i s p a t c h e d   t o   t h e   m o o n   p a n d o r a   o n   a   u n i q u e   m i s s i o n ,   b u t   b e c o m e s   t o r n   b e t w e e n   f o l l o w i n g   o r d e r s   a n d   p r o t e c t i n g   a n   a l i e n   c i v i l i z a t i o n .'

# Remove extra spaces between letters
clean_text = " ".join(["".join(word.split()) for word in text.split("  ")])

print(clean_text)

avatar in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.

In [72]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,a v a t a r i n t h e 2 2 n d c e n t ...
1,285,Pirates of the Caribbean: At World's End,p i r a t e s o f t h e c a r i b b e a ...
2,206647,Spectre,s p e c t r e a c r y p t i c m e s s a ...
3,49026,The Dark Knight Rises,t h e d a r k k n i g h t r i s e s f ...
4,49529,John Carter,j o h n c a r t e r j o h n c a r t e r ...

In [73]:
new_df = movies[['movie_id','title','tags']]

In [74]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"Avatar In the 22nd century, a paraplegic Marin..."
1,285,Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's End Capta...
2,206647,Spectre,Spectre A cryptic message from Bond’s past sen...
3,49026,The Dark Knight Rises,The Dark Knight Rises Following the death of D...
4,49529,John Carter,"John Carter John Carter is a war-weary, former..."

In [75]:
new_df.shape

(4806, 3)

In [77]:
def stems(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))
        return " ".join(l)

In [78]:
new_df.iloc[0]['tags']

'Avatar In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [79]:
import pandas as pd

movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

movies = movies.merge(credits, on='title')

In [80]:
import ast

def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

def convert2(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
        if len(L)==3:
            break
    return L

def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [81]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)
movies['cast'] = movies['cast'].apply(convert2)
movies['crew'] = movies['crew'].apply(fetch_director)

movies['overview'] = movies['overview'].fillna('')
movies['overview'] = movies['overview'].apply(lambda x: x.split())

movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

new_df = movies[['movie_id','title','tags']]

In [83]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(4809, 5000))

In [84]:
vector.shape

(4809, 5000)

In [85]:
from sklearn.metrics.pairwise import cosine_similarity

In [86]:
similary =  cosine_similarity(vector)
similary

array([[1.        , 0.06839856, 0.04916051, ..., 0.03121953, 0.05374308,
        0.        ],
       [0.06839856, 1.        , 0.04259177, ..., 0.04057204, 0.        ,
        0.        ],
       [0.04916051, 0.04259177, 1.        , ..., 0.01944039, 0.08924215,
        0.        ],
       ...,
       [0.03121953, 0.04057204, 0.01944039, ..., 1.        , 0.06375767,
        0.03276488],
       [0.05374308, 0.        , 0.08924215, ..., 0.06375767, 1.        ,
        0.03760222],
       [0.        , 0.        , 0.        , ..., 0.03276488, 0.03760222,
        1.        ]], shape=(4809, 4809))

In [87]:
similary.shape

(4809, 4809)

In [88]:
new_df[new_df['title']=='Spider-Man'].index[0]

np.int64(159)

In [89]:
def recommend(movie):
    index = new_df[new_df['title']==movie].index[0]
    distances= sorted(list(enumerate(similarly[index])),reverse=True , key=lambda x:x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [90]:
import os
os.makedirs('artifacts', exist_ok=True)

In [91]:
who

CountVectorizer	 ast	 clean_text	 convert	 convert2	 convert_cast	 cosine_similarity	 credits	 cv
ew_df	 fectch_director	 fetch_director	 movies	 new_df	 nltk	 np	 os	 pd
plt	 recommend	 similary	 stems	 text	 vector

In [92]:
import pandas as pd
import ast

movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

# Merge
movies = movies.merge(credits, on='title')

In [93]:
import pandas as pd
import ast

movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

# Merge
movies = movies.merge(credits, on='title')

In [94]:
# Selecting required features
movies = movies[['movie_id','title','genres','keywords','overview','cast','crew']]

movies.dropna(inplace=True)

def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

movies['cast'] = movies['cast'].apply(convert3)

def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
            return L

movies['crew'] = movies['crew'].apply(fetch_director)

movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [95]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
new_df = movies[['movie_id','title','tags']]

In [103]:
# Create a 'tags' column by combining relevant text columns
movies['tags'] = movies['title'].astype(str) + " " + movies['overview'].astype(str)
new_df = movies[['title', 'tags']]

In [104]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# TF-IDF matrix
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(new_df['tags'])

# Cosine similarity
similarity = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [105]:
import pickle
import os

# Ensure folder exists
if not os.path.exists('artifacts'):
    os.makedirs('artifacts')

# Save DataFrame
with open('artifacts/movie_list.pkl', 'wb') as f:
    pickle.dump(new_df, f)

# Save similarity matrix
with open('artifacts/similarity.pkl', 'wb') as f:
    pickle.dump(similarity, f)

print("Pickle files saved successfully!")

Pickle files saved successfully!

In [106]:
import pickle

pickle.dump(new_df, open('artifacts/movie_list.pkl','wb'))
pickle.dump(similarity, open('artifacts/similarity.pkl','wb'))

In [108]:
import pickle

pickle.dump(new_df, open('artifacts/movie_list.pkl','wb'))
pickle.dump(similarity, open('artifacts/similarity.pkl','wb'))

In [109]:
import os
os.listdir('artifacts')

['movie_list.pkl', 'similarity.pkl']

In [110]:
import pickle

pickle.dump(new_df, open('artifacts/movie_list.pkl','wb'))
pickle.dump(similarity, open('artifacts/similarity.pkl','wb'))

In [111]:
import pickle
import os

os.makedirs("artifacts", exist_ok=True)

pickle.dump(new_df, open('artifacts/movie_list.pkl','wb'))
pickle.dump(similarity, open('artifacts/similarity.pkl','wb'))

In [113]:
import os
os.path.isdir("artifacts")

True

In [114]:
import pickle

pickle.dump(new_df, open('artifacts/movie_list.pkl', 'wb'))
pickle.dump(similarity, open('artifacts/similarity.pkl', 'wb'))

In [115]:
import os
os.listdir("artifacts")

['movie_list.pkl', 'similarity.pkl']

In [116]:
import pandas as pd

movies = pd.read_csv('tmdb_5000_movies.csv')

In [117]:
import pandas as pd

movies = pd.read_csv('tmdb_5000_movies.csv')
print(movies.columns)

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [118]:
def combine_features(row):
    features = []
    for col in ['genres', 'keywords', 'overview']:  # use only existing columns
        if col in row and pd.notna(row[col]):
            features.append(str(row[col]))
    return ' '.join(features)

movies['tags'] = movies.apply(combine_features, axis=1)
new_df = movies[['id', 'title', 'tags']]  # use 'id' if 'movie_id' doesn't exist

In [119]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(new_df['tags']).toarray()
similarity = cosine_similarity(vectors)

In [120]:
import pickle

pickle.dump(new_df, open('artifacts/movie_list.pkl', 'wb'))
pickle.dump(similarity, open('artifacts/similarity.pkl', 'wb'))

In [121]:
import os
print(os.getcwd())

C:\Users\Hp\OneDrive\Desktop\recommender system\data

In [122]:
movies = pd.read_csv("tmdb_5000_movies.csv")

In [123]:
print(movies.head())

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124

In [124]:
m = round(movies['vote_count'].quantile(0.95))
C = round(movies['vote_average'].mean(), 1)
print("Minimum votes required (m):", m)
print("Average rating across all movies (C):", C)

Minimum votes required (m): 3041
Average rating across all movies (C): 6.1

In [125]:
# Step 1: Calculate mean and standard deviation of ratings
mu = movies['vote_average'].mean()
sigma = movies['vote_average'].std()

# Step 2: Define Z-score function
def zscore_rating(x):
    R = x['vote_average']
    return round((R - mu) / sigma, 3)

# Step 3: Apply it to the DataFrame
movies['zscore_rating'] = movies.apply(zscore_rating, axis=1)

In [126]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,zscore_rating
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,0.927
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,0.676

In [131]:
# Step 1: Calculate min and max
min_rating = movies['vote_average'].min()
max_rating = movies['vote_average'].max()

# Step 2: Define Min-Max normalization function
def minmax_rating(x):
    R = x['vote_average']
    return round((R - min_rating) / (max_rating - min_rating))

# Step 3: Apply it to the DataFrame
movies['minmax_rating'] = movies.apply(minmax_rating, axis=1)

In [132]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title,vote_average,vote_count,zscore_rating,minmax_rating,minmax_votes,hybrid_score
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,0.927354,1,0.858057,0.892706
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,0.676227,1,0.327225,0.501726
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,0.173971,1,0.324753,0.249362
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,1.262191,1,0.662158,0.962174
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,0.006553,1,0.154450,0.080502

In [129]:
# Step 1: Calculate stats
mu = movies['vote_average'].mean()
sigma = movies['vote_average'].std()
min_votes = movies['vote_count'].min()
max_votes = movies['vote_count'].max()

# Step 2: Define Z-score and Min-Max functions
def zscore_rating(x):
    R = x['vote_average']
    return (R - mu) / sigma

def minmax_votes(x):
    V = x['vote_count']
    return (V - min_votes) / (max_votes - min_votes)

# Step 3: Apply functions
movies['zscore_rating'] = movies.apply(zscore_rating, axis=1)
movies['minmax_votes'] = movies.apply(minmax_votes, axis=1)

# Step 4: Compute hybrid score (equal weight example)
movies['hybrid_score'] = 0.5 * movies['zscore_rating'] + 0.5 * movies['minmax_votes']

In [130]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title,vote_average,vote_count,zscore_rating,minmax_rating,minmax_votes,hybrid_score
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,0.927354,0.72,0.858057,0.892706
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,0.676227,0.69,0.327225,0.501726
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,0.173971,0.63,0.324753,0.249362
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,1.262191,0.76,0.662158,0.962174
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,0.006553,0.61,0.154450,0.080502

In [6]:
import numpy as np

# ---------------------------------------------------------
# Helper Functions
# ---------------------------------------------------------

def precision_at_k(actual, predicted, k):
    """
    actual: set/list of true relevant items
    predicted: list of recommended items (ranked)
    """
    predicted_k = predicted[:k]
    relevant = set(actual)
    hit_count = sum([1 for item in predicted_k if item in relevant])
    return hit_count / k


def recall_at_k(actual, predicted, k):
    predicted_k = predicted[:k]
    relevant = set(actual)
    hit_count = sum([1 for item in predicted_k if item in relevant])
    return hit_count / len(relevant) if len(relevant) > 0 else 0


def dcg_at_k(predicted, actual, k):
    predicted_k = predicted[:k]
    dcg = 0.0
    for i, item in enumerate(predicted_k):
        if item in actual:
            dcg += 1 / np.log2(i + 2)      # position i → log2(i+2)
    return dcg


def ndcg_at_k(actual, predicted, k):
    dcg = dcg_at_k(predicted, actual, k)
    ideal_dcg = dcg_at_k(actual, actual, k)   # best-case ranking
    return dcg / ideal_dcg if ideal_dcg > 0 else 0


# ---------------------------------------------------------
# Example Evaluation on Your Recommendations
# ---------------------------------------------------------

# Suppose for a user:
actual_items = [10, 20, 30, 40]        # items user actually interacted with
predicted_items = [20, 50, 10, 60, 70, 30]  # items recommended by your model

for k in [5, 10, 20]:
    print(f"Precision@{k}:", precision_at_k(actual_items, predicted_items, k))
    print(f"Recall@{k}:", recall_at_k(actual_items, predicted_items, k))
    print(f"NDCG@{k}:", ndcg_at_k(actual_items, predicted_items, k))
    print("----")

Precision@5: 0.4
Recall@5: 0.5
NDCG@5: 0.5855700749881525
----
Precision@10: 0.3
Recall@10: 0.75
NDCG@10: 0.7246262544989281
----
Precision@20: 0.15
Recall@20: 0.75
NDCG@20: 0.7246262544989281
----

In [18]:
import os
print(os.getcwd())
print(os.listdir())

C:\Users\Hp\OneDrive\Desktop\recommender system\data
['.ipynb_checkpoints', 'artifacts', 'recommender sys.ipynb', 'tmdb_5000_credits.csv', 'tmdb_5000_movies.csv', 'weightedrating.ipynb', 'z-score.ipynb']

In [20]:
import pandas as pd
import numpy as np

# Load movies dataset
movies = pd.read_csv(r"C:\Users\Hp\OneDrive\Desktop\recommender system\data\tmdb_5000_movies.csv")

# Check columns
print(movies.columns)

# -----------------------------
# 1. Build Popularity Map
# -----------------------------
# Using 'vote_count' as popularity
popularity_map = dict(zip(movies['id'], movies['vote_count']))

# -----------------------------
# 2. Example Recommendations
# -----------------------------
# Suppose these are top-K recommended movie IDs for users
user_recommendations = {
    1: [1, 2, 3, 4, 5],
    2: [10, 20, 30, 40, 50],
    3: [100, 200, 300, 400, 500]
}

# -----------------------------
# 3. ARP & Popularity Lift
# -----------------------------
def avg_rec_popularity(recommended_items, popularity_map):
    pops = [popularity_map.get(item, 0) for item in recommended_items]
    return np.mean(pops)

def popularity_lift(recommended_items, popularity_map):
    arp = avg_rec_popularity(recommended_items, popularity_map)
    catalog_mean = np.mean(list(popularity_map.values()))
    lift = arp / catalog_mean if catalog_mean > 0 else 0
    return arp, catalog_mean, lift

# Compute for all users
user_arp = {}
for user, items in user_recommendations.items():
    arp, catalog_mean, lift = popularity_lift(items, popularity_map)
    user_arp[user] = {'ARP': arp, 'Lift': lift}

# -----------------------------
# 4. Order Users by Diversity
# -----------------------------
sorted_users = sorted(user_arp.items(), key=lambda x: x[1]['ARP'])

print("User ID → ARP, Popularity Lift (lower ARP = more diverse)")
for user, metrics in sorted_users:
    print(user, "→ ARP:", round(metrics['ARP'],2), "Lift:", round(metrics['Lift'],2))

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')
User ID → ARP, Popularity Lift (lower ARP = more diverse)
2 → ARP: 15.4 Lift: 0.02
1 → ARP: 106.0 Lift: 0.15
3 → ARP: 1164.2 Lift: 1.69

In [22]:
# Global variables
C = movies['vote_average'].mean()
m = 50   # damping factor (you can tune)

def damped_weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    
    v_damped = (v ** 0.5)      # sqrt damping
    
    return round((v_damped / (v_damped + m)) * R + (m / (v_damped + m)) * C, 1)


movies['damped_rating'] = movies.apply(damped_weighted_rating, axis=1)

In [23]:
movies.head(15)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,damped_rating
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,6.9
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,6.6
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,6.2
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,7.1
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,6.1
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,2007-05-01,890871626,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576,6.0
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2010-11-24,591794936,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330,6.8
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...",...,2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767,6.8
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...",...,2009-07-07,933959197,153.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Dark Secrets Revealed,Harry Potter and the Half-Blood Prince,7.4,5293,6.9
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...",...,2016-03-23,873260194,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,5.7,7004,5.8
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...",...,2006-06-28,391081192,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Superman Returns,5.4,1400,5.8
11,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.mgm.com/view/movie/234/Quantum-of-S...,10764,"[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...",en,Quantum of Solace,Quantum of Solace continues the adventures of ...,107.928811,"[{""name"": ""Eon Productions"", ""id"": 7576}]",...,2008-10-30,586090727,106.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"For love, for hate, for justice, for revenge.",Quantum of Solace,6.1,2965,6.1
12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,58,"[{""id"": 616, ""name"": ""witch""}, {""id"": 663, ""na...",en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,145.847379,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2006-06-20,1065659812,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Jack is back!,Pirates of the Caribbean: Dead Man's Chest,7.0,5246,6.6
13,255000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://disney.go.com/the-lone-ranger/,57201,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.046956,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2013-07-03,89289910,149.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Never Take Off the Mask,The Lone Ranger,5.9,2311,6.0
14,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.manofsteel.com/,49521,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Man of Steel,A young boy learns that he has extraordinary p...,99.398009,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,2013-06-12,662845518,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,You will believe that a man can fly.,Man of Steel,6.5,6359,6.3

In [24]:
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return round((v*R/(v+m) + (m*C/m+v)),1)

movies['weighted_rating'] = movies.apply(weighted_rating, axis=1)

In [25]:
movies.head(15)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,damped_rating,weighted_rating
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,6.9,11813.3
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,6.6,4512.9
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,6.2,4478.3
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,7.1,9119.7
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,6.1,2136.1
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,890871626,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576,6.0,3587.9
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,591794936,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330,6.8,3343.4
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...",...,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767,6.8,6780.3
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...",...,933959197,153.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Dark Secrets Revealed,Harry Potter and the Half-Blood Prince,7.4,5293,6.9,5306.4
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...",...,873260194,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,5.7,7004,5.8,7015.8
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...",...,391081192,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Superman Returns,5.4,1400,5.8,1411.3
11,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.mgm.com/view/movie/234/Quantum-of-S...,10764,"[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...",en,Quantum of Solace,Quantum of Solace continues the adventures of ...,107.928811,"[{""name"": ""Eon Productions"", ""id"": 7576}]",...,586090727,106.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"For love, for hate, for justice, for revenge.",Quantum of Solace,6.1,2965,6.1,2977.1
12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,58,"[{""id"": 616, ""name"": ""witch""}, {""id"": 663, ""na...",en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,145.847379,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,1065659812,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Jack is back!,Pirates of the Caribbean: Dead Man's Chest,7.0,5246,6.6,5259.0
13,255000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://disney.go.com/the-lone-ranger/,57201,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.046956,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,89289910,149.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Never Take Off the Mask,The Lone Ranger,5.9,2311,6.0,2322.9
14,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.manofsteel.com/,49521,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Man of Steel,A young boy learns that he has extraordinary p...,99.398009,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,662845518,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,You will believe that a man can fly.,Man of Steel,6.5,6359,6.3,6371.5

In [7]:
import os
os.listdir()

['.ipynb_checkpoints',
 'artifacts',
 'recommender sys.ipynb',
 'tmdb_5000_credits.csv',
 'tmdb_5000_movies.csv',
 'weightedrating.ipynb',
 'z-score.ipynb']

In [8]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [19]:
C = movies['vote_average'].mean()
m = 50

def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return ((v*R/(v+m) + (m*C/m+v)),1)

movies['weighted_rating'] = movies.apply(weighted_rating, axis=1)

In [20]:
top_movies = movies.sort_values('weighted_rating', ascending=False)

def get_top_k(k):
    return top_movies['id'].head(k).tolist()

In [21]:
import pandas as pd

# Create a sample ratings dataset so evaluation code works
ratings = pd.DataFrame({
    'userId': [1,1,1,2,2,3,3],
    'movieId': [19995, 140607, 135397, 19995, 76341, 135397, 87827],
    'rating': [4.5, 3.0, 5.0, 4.0, 2.5, 4.5, 3.5]
})

In [22]:
ratings['relevant'] = (ratings['rating'] >= 3.5).astype(int)
user_relevant = ratings.groupby('userId')['movieId'].apply(set)

In [23]:
def precision_at_k(recs, rel, k):
    hits = len(set(recs[:k]) & set(rel))
    return hits / k

def recall_at_k(recs, rel, k):
    hits = len(set(recs[:k]) & set(rel))
    return hits / len(rel) if len(rel) > 0 else 0

def ndcg_at_k(recs, rel, k):
    dcg = 0
    for i, movie in enumerate(recs[:k]):
        if movie in rel:
            dcg += 1 / log2(i + 2)
    ideal = min(len(rel), k)
    idcg = sum(1 / log2(i + 2) for i in range(ideal))
    return dcg / idcg if idcg > 0 else 0

In [24]:
for k in [5, 10, 20]:
    p_list, r_list, n_list = [], [], []
    
    for user, rel in user_relevant.items():
        recs = get_top_k(k)
        p_list.append(precision_at_k(recs, rel, k))
        r_list.append(recall_at_k(recs, rel, k))
        n_list.append(ndcg_at_k(recs, rel, k))
    
    print(f"\n@{k}")
    print("Precision:", np.mean(p_list))
    print("Recall:", np.mean(r_list))
    print("NDCG:", np.mean(n_list))

@5
Precision: 0.13333333333333333
Recall: 0.27777777777777773
NDCG: 0.1804043197980358

@10
Precision: 0.10000000000000002
Recall: 0.4444444444444444
NDCG: 0.23948408205938507

@20
Precision: 0.08333333333333333
Recall: 0.7222222222222222
NDCG: 0.32601049188001097

In [34]:
import pandas as pd
import numpy as np

# -------------------------------
# Step 1: Load dataset
# -------------------------------
movies = pd.read_csv('tmdb_5000_movies.csv')

# -------------------------------
# Step 2: Bayesian rating
# -------------------------------
C = movies['vote_average'].mean()
m = 50

def bayesian_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(v+m) * C)

movies['bayesian_score'] = movies.apply(bayesian_rating, axis=1)

# -------------------------------
# Step 3: Top movies by bayesian_score
# -------------------------------
movies_sorted = movies.sort_values('bayesian_score', ascending=False)
top_movies = movies_sorted['id'].tolist()  # full list sorted

# -------------------------------
# Step 4: Evaluation metrics
# -------------------------------
def precision_at_k(actual, predicted, k):
    predicted_k = predicted[:k]
    relevant = set(actual)
    hits = sum([1 for p in predicted_k if p in relevant])
    return hits / k

def recall_at_k(actual, predicted, k):
    predicted_k = predicted[:k]
    relevant = set(actual)
    hits = sum([1 for p in predicted_k if p in relevant])
    return hits / len(relevant) if relevant else 0

def ndcg_at_k(actual, predicted, k):
    predicted_k = predicted[:k]
    dcg = 0
    for i, p in enumerate(predicted_k):
        if p in actual:
            dcg += 1 / np.log2(i + 2)
    ideal_dcg = sum([1/np.log2(i+2) for i in range(min(len(actual), k))])
    return dcg / ideal_dcg if ideal_dcg > 0 else 0

# -------------------------------
# Step 5: User test items (example)
# -------------------------------
user_test_items = [19995, 206647, 1452, 285, 49026]  # your specified movies
print("User liked movies:", user_test_items)

# -------------------------------
# Step 6: Compute for K=5,10,20
# -------------------------------
for K in [5, 10, 20]:
    precision = precision_at_k(user_test_items, top_movies, K)
    recall = recall_at_k(user_test_items, top_movies, K)
    ndcg = ndcg_at_k(user_test_items, top_movies, K)
    print(f"--- K={K} ---")
    print(f"Precision@{K}: {precision:.3f}")
    print(f"Recall@{K}: {recall:.3f}")
    print(f"NDCG@{K}: {ndcg:.3f}\n")

User liked movies: [19995, 206647, 1452, 285, 49026]
--- K=5 ---
Precision@5: 0.000
Recall@5: 0.000
NDCG@5: 0.000

--- K=10 ---
Precision@10: 0.000
Recall@10: 0.000
NDCG@10: 0.000

--- K=20 ---
Precision@20: 0.000
Recall@20: 0.000
NDCG@20: 0.000

In [36]:
import pandas as pd
import numpy as np

# -------------------------------
# Step 1: Load dataset
# -------------------------------
movies = pd.read_csv('tmdb_5000_movies.csv')

# -------------------------------
# Step 2: Square-root damped rating
# -------------------------------
C = movies['vote_average'].mean()
m = 50   # damping factor

def damped_weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    v_damped = v ** 0.5  # sqrt damping
    return round((v_damped / (v_damped + m)) * R + (m / (v_damped + m)) * C, 1)

movies['damped_rating'] = movies.apply(damped_weighted_rating, axis=1)

# -------------------------------
# Step 3: Top movies by damped_rating
# -------------------------------
movies_sorted = movies.sort_values('damped_rating', ascending=False)
top_movies = movies_sorted['id'].tolist()  # full sorted list

# -------------------------------
# Step 4: Evaluation metrics
# -------------------------------
def precision_at_k(actual, predicted, k):
    predicted_k = predicted[:k]
    relevant = set(actual)
    hits = sum([1 for p in predicted_k if p in relevant])
    return hits / k

def recall_at_k(actual, predicted, k):
    predicted_k = predicted[:k]
    relevant = set(actual)
    hits = sum([1 for p in predicted_k if p in relevant])
    return hits / len(relevant) if relevant else 0

def ndcg_at_k(actual, predicted, k):
    predicted_k = predicted[:k]
    dcg = 0
    for i, p in enumerate(predicted_k):
        if p in actual:
            dcg += 1 / np.log2(i + 2)
    ideal_dcg = sum([1/np.log2(i+2) for i in range(min(len(actual), k))])
    return dcg / ideal_dcg if ideal_dcg > 0 else 0

# -------------------------------
# Step 5: Example user test items
# -------------------------------
user_test_items = [19995, 206647, 1452, 285, 49026]  # your specified movies
print("User liked movies:", user_test_items)

# -------------------------------
# Step 6: Compute metrics for K=5,10,20
# -------------------------------
for K in [5, 10, 20]:
    precision = precision_at_k(user_test_items, top_movies, K)
    recall = recall_at_k(user_test_items, top_movies, K)
    ndcg = ndcg_at_k(user_test_items, top_movies, K)
    print(f"--- K={K} ---")
    print(f"Precision@{K}: {precision:.3f}")
    print(f"Recall@{K}: {recall:.3f}")
    print(f"NDCG@{K}: {ndcg:.3f}\n")

User liked movies: [19995, 206647, 1452, 285, 49026]
--- K=5 ---
Precision@5: 0.000
Recall@5: 0.000
NDCG@5: 0.000

--- K=10 ---
Precision@10: 0.000
Recall@10: 0.000
NDCG@10: 0.000

--- K=20 ---
Precision@20: 0.000
Recall@20: 0.000
NDCG@20: 0.000

In [40]:
import pandas as pd
import numpy as np

# -------------------------------
# Step 1: Load dataset
# -------------------------------
# movies = pd.read_csv('tmdb_5000_movies.csv')  # replace with your path if needed

# Ensure required columns exist
assert 'bayesian_score' not in movies.columns or True  # will compute next
assert 'id' in movies.columns, "Column 'id' missing"
assert 'vote_average' in movies.columns, "Column 'vote_average' missing"
assert 'vote_count' in movies.columns, "Column 'vote_count' missing"

# -------------------------------
# Step 2: Compute Bayesian score
# -------------------------------
C = movies['vote_average'].mean()  # average rating across all movies
m = 50  # can be tuned

def bayesian_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v / (v + m) * R) + (m / (v + m) * C)

movies['bayesian_score'] = movies.apply(bayesian_rating, axis=1)

# -------------------------------
# Step 3: Sort movies by bayesian_score
# -------------------------------
movies_sorted = movies.sort_values('bayesian_score', ascending=False)
top_movies = movies_sorted['id'].tolist()  # use 'id' instead of 'movie_id'

# -------------------------------
# Step 4: Define evaluation metrics
# -------------------------------
def precision_at_k(actual, predicted, k):
    predicted_k = predicted[:k]
    relevant = set(actual)
    hits = sum([1 for p in predicted_k if p in relevant])
    return hits / k

def recall_at_k(actual, predicted, k):
    predicted_k = predicted[:k]
    relevant = set(actual)
    hits = sum([1 for p in predicted_k if p in relevant])
    return hits / len(relevant) if relevant else 0

def ndcg_at_k(actual, predicted, k):
    predicted_k = predicted[:k]
    dcg = 0
    for i, p in enumerate(predicted_k):
        if p in actual:
            dcg += 1 / np.log2(i + 2)
    ideal_dcg = sum([1 / np.log2(i + 2) for i in range(min(len(actual), k))])
    return dcg / ideal_dcg if ideal_dcg > 0 else 0

# -------------------------------
# Step 5: Specify user liked movies
# -------------------------------
user_test_items = [19995, 285, 206647, 49026, 49529]
print("User liked movies:", user_test_items)

# -------------------------------
# Step 6: Compute metrics for K=5,10,20
# -------------------------------
for K in [5, 10, 20]:
    precision = precision_at_k(user_test_items, top_movies, K)
    recall = recall_at_k(user_test_items, top_movies, K)
    ndcg = ndcg_at_k(user_test_items, top_movies, K)
    print(f"\n--- K={K} ---")
    print(f"Precision@{K}: {precision:.3f}")
    print(f"Recall@{K}: {recall:.3f}")
    print(f"NDCG@{K}: {ndcg:.3f}")

User liked movies: [19995, 285, 206647, 49026, 49529]

--- K=5 ---
Precision@5: 0.000
Recall@5: 0.000
NDCG@5: 0.000

--- K=10 ---
Precision@10: 0.000
Recall@10: 0.000
NDCG@10: 0.000

--- K=20 ---
Precision@20: 0.000
Recall@20: 0.000
NDCG@20: 0.000

In [44]:
import numpy as np
import pandas as pd

# ----------------------------------------------------
# Step 1: Ensure movie_id exists
# ----------------------------------------------------
if 'movie_id' not in movies.columns:
    movies['movie_id'] = movies.index

# ----------------------------------------------------
# Step 2: Weighted Rating (Bayesian Rating formula)
# ----------------------------------------------------
C = movies['vote_average'].mean()
m = 50

def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return(v*R/(v+m) + (m*C/m+v)) 

movies['weighted_score'] = movies.apply(weighted_rating, axis=1)

# ----------------------------------------------------
# Step 3: Sort movies by weighted rating
# ----------------------------------------------------
movies_sorted = movies.sort_values(by='weighted_score', ascending=False)

# ----------------------------------------------------
# Step 4: Popularity column (for Gini Index)
# ----------------------------------------------------
popularity_list = movies_sorted['vote_count'].tolist()

# ----------------------------------------------------
# Step 5: Function to compute Gini Index
# ----------------------------------------------------
def gini_index(popularity):
    popularity = np.array(popularity, dtype=np.float64)
    if popularity.sum() == 0:
        return 0
    
    p = popularity / popularity.sum()      # normalize popularity
    n = len(p)
    
    sorted_p = np.sort(p)
    
    gini = 1 - 2 * np.sum((np.arange(1, n+1) / n) * sorted_p)
    return round(gini, 4)

# ----------------------------------------------------
# Step 6: Compute Gini for @5, @10, @20
# ----------------------------------------------------
for k in [5, 10, 20]:
    topk_pop = movies_sorted['vote_count'].head(k).tolist()
    gini = gini_index(topk_pop)
    
    print(f"\n===== GINI INDEX for Weighted Rating @ {k} =====")
    print("Gini@", k, "=", gini)

===== GINI INDEX for Weighted Rating @ 5 =====
Gini@ 5 = -0.2381

===== GINI INDEX for Weighted Rating @ 10 =====
Gini@ 10 = -0.1657

===== GINI INDEX for Weighted Rating @ 20 =====
Gini@ 20 = -0.1306

In [45]:
import numpy as np
import pandas as pd

# ----------------------------------------------------
# Step 1: Ensure movie_id exists
# ----------------------------------------------------
if 'movie_id' not in movies.columns:
    movies['movie_id'] = movies.index

# ----------------------------------------------------
# Step 2: Weighted Rating (Bayesian Rating formula)
# ----------------------------------------------------
C = movies['vote_average'].mean()
m = 50

def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v / (v + m)) * R + (m / (v + m)) * C

movies['weighted_score'] = movies.apply(weighted_rating, axis=1)

# ----------------------------------------------------
# Step 3: Sort movies by weighted rating
# ----------------------------------------------------
movies_sorted = movies.sort_values(by='weighted_score', ascending=False)

# ----------------------------------------------------
# Step 4: Popularity column (for Gini Index)
# ----------------------------------------------------
popularity_list = movies_sorted['vote_count'].tolist()

# ----------------------------------------------------
# Step 5: Function to compute Gini Index
# ----------------------------------------------------
def gini_index(popularity):
    popularity = np.array(popularity, dtype=np.float64)
    if popularity.sum() == 0:
        return 0
    
    p = popularity / popularity.sum()      # normalize popularity
    n = len(p)
    
    sorted_p = np.sort(p)
    
    gini = 1 - 2 * np.sum((np.arange(1, n+1) / n) * sorted_p)
    return round(gini, 4)

# ----------------------------------------------------
# Step 6: Compute Gini for @5, @10, @20
# ----------------------------------------------------
for k in [5, 10, 20]:
    topk_pop = movies_sorted['vote_count'].head(k).tolist()
    gini = gini_index(topk_pop)
    
    print(f"\n===== GINI INDEX for Weighted Rating @ {k} =====")
    print("Gini@", k, "=", gini)

===== GINI INDEX for Weighted Rating @ 5 =====
Gini@ 5 = -0.3401

===== GINI INDEX for Weighted Rating @ 10 =====
Gini@ 10 = -0.324

===== GINI INDEX for Weighted Rating @ 20 =====
Gini@ 20 = -0.3767

In [1]:
import pandas as pd
import numpy as np

# ---------------------------------------------------
# LOAD DATA
# ---------------------------------------------------
movies = pd.read_csv("tmdb_5000_movies.csv")

# ---------------------------------------------------
# GLOBAL VALUES FOR FORMULA
# ---------------------------------------------------
C = movies['vote_average'].mean()        # global average rating
m = movies['vote_count'].quantile(0.70)  # vote threshold

# ---------------------------------------------------
# YOUR TID FORMULA IMPLEMENTATION
# Formula: (v*R/(v+m)) + (m*C/(m+v))
# ---------------------------------------------------
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v * R / (v + m)) + (m * C / (v + m))

# Add score column
movies['weighted_rating'] = movies.apply(weighted_rating, axis=1)

# ---------------------------------------------------
# GET TOP MOVIES BY WEIGHTED RATING
# ---------------------------------------------------
top_movies = movies.sort_values('weighted_rating', ascending=False).head(20)

# ---------------------------------------------------
# YOUR RECOMMENDED MOVIE IDS (DEDUPLICATED)
# ---------------------------------------------------
recommended_movie_ids = [19995, 140607, 135397, 76341, 87827]

# ---------------------------------------------------
# POPULARITY MAP FOR ARP
# ---------------------------------------------------
def item_popularity_map(df_items, pop_col='vote_count', log_scale=True):
    pop_values = df_items.set_index('id')[pop_col].to_dict()
    if log_scale:
        pop_values = {k: np.log1p(v) for k, v in pop_values.items()}
    return pop_values

# ---------------------------------------------------
# ARP FUNCTIONS
# ---------------------------------------------------
def avg_rec_popularity(recs, pop_map):
    return np.mean([pop_map.get(item, 0) for item in recs])

def popularity_lift(recs, pop_map, catalog_mean=None):
    arp = avg_rec_popularity(recs, pop_map)
    if catalog_mean is None:
        catalog_mean = np.mean(list(pop_map.values()))
    lift = arp / catalog_mean
    return lift, arp, catalog_mean

# ---------------------------------------------------
# CALCULATE ARP FOR YOUR WEIGHTED RATING RECS
# ---------------------------------------------------
pop_map = item_popularity_map(movies, pop_col='vote_count', log_scale=True)
lift, arp, catalog_mean = popularity_lift(recommended_movie_ids, pop_map)

# ---------------------------------------------------
# PRINT OUTPUT
# ---------------------------------------------------
print("Top Movies Based on Weighted Rating:")
print(top_movies[['id', 'title', 'vote_average', 'vote_count', 'weighted_rating']])

print("\nYour Recommended Movie IDs:", recommended_movie_ids)
print("ARP:", arp)
print("Catalog Mean:", catalog_mean)
print("Popularity Lift:", lift)

Top Movies Based on Weighted Rating:
          id                                              title  vote_average  \
1881     278                           The Shawshank Redemption           8.5
3337     238                                      The Godfather           8.4
662      550                                         Fight Club           8.3
3232     680                                       Pulp Fiction           8.3
65       155                                    The Dark Knight           8.2
809       13                                       Forrest Gump           8.2
1818     424                                   Schindler's List           8.3
3865  244786                                           Whiplash           8.3
96     27205                                          Inception           8.1
1990    1891                            The Empire Strikes Back           8.2
2294     129                                      Spirited Away           8.3
95    157336                                       Interstellar           8.1
2731     240                             The Godfather: Part II           8.3
329      122      The Lord of the Rings: The Return of the King           8.1
2912      11                                          Star Wars           8.1
690      497                                     The Green Mile           8.2
1553     807                                              Se7en           8.1
262      120  The Lord of the Rings: The Fellowship of the Ring           8.0
1847     769                                         GoodFellas           8.2
2091     274                           The Silence of the Lambs           8.1

      vote_count  weighted_rating
1881        8205         8.340775
3337        5893         8.192887
662         9413         8.171648
3232        8428         8.157615
65         12002         8.102674
809         7927         8.056059
1818        4329         8.038748
3865        4254         8.034695
96         13752         8.018611
1990        5879         8.010426
2294        3840         8.009851
95         10867         7.998100
2731        3338         7.972685
329         8064         7.965061
2912        6624         7.938092
690         4048         7.935440
1553        5765         7.916176
262         8705         7.880632
1847        3128         7.869817
2091        4443         7.867805

Your Recommended Movie IDs: [19995, 140607, 135397, 76341, 87827]
ARP: 7.251892697610702
Catalog Mean: 5.2229393957142305
Popularity Lift: 1.3884696237450818

In [2]:
import pandas as pd
import numpy as np

# ---------------------------------------------------
# LOAD DATA
# ---------------------------------------------------
movies = pd.read_csv("tmdb_5000_movies.csv")

# ---------------------------------------------------
# GLOBAL VALUES FOR BAYESIAN FORMULA
# ---------------------------------------------------
C = movies['vote_average'].mean()        # global mean rating
m = movies['vote_count'].quantile(0.70)  # vote threshold (70th percentile)

# ---------------------------------------------------
# BAYESIAN WEIGHTED RATING FORMULA
# ---------------------------------------------------
def bayesian_weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m)) * R + (m/(v+m)) * C

# Add Bayesian score column
movies['bayesian_score'] = movies.apply(bayesian_weighted_rating, axis=1)

# ---------------------------------------------------
# TOP MOVIES BASED ON BAYESIAN SCORE
# ---------------------------------------------------
top_movies = movies.sort_values('bayesian_score', ascending=False).head(20)

# ---------------------------------------------------
# YOUR FIXED RECOMMENDED MOVIE IDS (DEDUPLICATED)
# ---------------------------------------------------
recommended_movie_ids = [19995, 140607, 135397, 76341, 87827]

# ---------------------------------------------------
# POPULARITY MAP FOR ARP
# ---------------------------------------------------
def item_popularity_map(df_items, pop_col='vote_count', log_scale=True):
    pop_values = df_items.set_index('id')[pop_col].to_dict()
    if log_scale:
        pop_values = {k: np.log1p(v) for k, v in pop_values.items()}
    return pop_values

# ---------------------------------------------------
# ARP FUNCTIONS
# ---------------------------------------------------
def avg_rec_popularity(recs, pop_map):
    return np.mean([pop_map.get(item, 0) for item in recs])

def popularity_lift(recs, pop_map, catalog_mean=None):
    arp = avg_rec_popularity(recs, pop_map)
    if catalog_mean is None:
        catalog_mean = np.mean(list(pop_map.values()))
    lift = arp / catalog_mean
    return lift, arp, catalog_mean

# ---------------------------------------------------
# CALCULATE ARP FOR BAYESIAN RECOMMENDATIONS
# ---------------------------------------------------
pop_map = item_popularity_map(movies, pop_col='vote_count', log_scale=True)
lift, arp, catalog_mean = popularity_lift(recommended_movie_ids, pop_map)

# ---------------------------------------------------
# FINAL OUTPUT
# ---------------------------------------------------
print("\n=== TOP MOVIES BASED ON BAYESIAN WEIGHTED RATING ===")
print(top_movies[['id', 'title', 'vote_average', 'vote_count', 'bayesian_score']])

print("\n=== ARP ANALYSIS FOR RECOMMENDATIONS ===")
print("Recommended Movie IDs:", recommended_movie_ids)
print("ARP:", arp)
print("Catalog Mean Popularity:", catalog_mean)
print("Popularity Lift:", lift)

=== TOP MOVIES BASED ON BAYESIAN WEIGHTED RATING ===
          id                                              title  vote_average  \
1881     278                           The Shawshank Redemption           8.5
3337     238                                      The Godfather           8.4
662      550                                         Fight Club           8.3
3232     680                                       Pulp Fiction           8.3
65       155                                    The Dark Knight           8.2
809       13                                       Forrest Gump           8.2
1818     424                                   Schindler's List           8.3
3865  244786                                           Whiplash           8.3
96     27205                                          Inception           8.1
1990    1891                            The Empire Strikes Back           8.2
2294     129                                      Spirited Away           8.3
95    157336                                       Interstellar           8.1
2731     240                             The Godfather: Part II           8.3
329      122      The Lord of the Rings: The Return of the King           8.1
2912      11                                          Star Wars           8.1
690      497                                     The Green Mile           8.2
1553     807                                              Se7en           8.1
262      120  The Lord of the Rings: The Fellowship of the Ring           8.0
1847     769                                         GoodFellas           8.2
2091     274                           The Silence of the Lambs           8.1

      vote_count  bayesian_score
1881        8205        8.340775
3337        5893        8.192887
662         9413        8.171648
3232        8428        8.157615
65         12002        8.102674
809         7927        8.056059
1818        4329        8.038748
3865        4254        8.034695
96         13752        8.018611
1990        5879        8.010426
2294        3840        8.009851
95         10867        7.998100
2731        3338        7.972685
329         8064        7.965061
2912        6624        7.938092
690         4048        7.935440
1553        5765        7.916176
262         8705        7.880632
1847        3128        7.869817
2091        4443        7.867805

=== ARP ANALYSIS FOR RECOMMENDATIONS ===
Recommended Movie IDs: [19995, 140607, 135397, 76341, 87827]
ARP: 7.251892697610702
Catalog Mean Popularity: 5.2229393957142305
Popularity Lift: 1.3884696237450818

In [6]:
import pandas as pd
import numpy as np

# -------------------------------
# LOAD DATA
# -------------------------------
movies = pd.read_csv("tmdb_5000_movies.csv")

# -------------------------------
# GLOBAL VALUES FOR WEIGHTED RATING
# -------------------------------
C = movies['vote_average'].mean()        # global average rating
m = movies['vote_count'].quantile(0.95)  # vote threshold (70th percentile)

# -------------------------------
# WEIGHTED RATING (TID FORMULA)
# Formula: (v*R/(v+m)) + (m*C/(v+m))
# -------------------------------
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v * R / (v + m)) + (m * C / (v + m))

# Apply formula
movies['weighted_rating'] = movies.apply(weighted_rating, axis=1)

# -------------------------------
# GET TOP 20 MOVIES
# -------------------------------
top_movies = movies.sort_values('weighted_rating', ascending=False).head(20)
print("=== Top 20 Movies Based on Weighted Rating ===")
print(top_movies[['id','title','vote_average','vote_count','weighted_rating']])

# -------------------------------
# RECOMMENDED MOVIE IDS
# -------------------------------
recommended_movie_ids = [19995, 206647, 1452, 285, 49026]

# -------------------------------
# POPULARITY MAP FOR ARP
# -------------------------------
def item_popularity_map(df_items, pop_col='vote_count', log_scale=True):
    pop_values = df_items.set_index('id')[pop_col].to_dict()
    if log_scale:
        pop_values = {k: np.log1p(v) for k, v in pop_values.items()}
    return pop_values

pop_map = item_popularity_map(movies)

# -------------------------------
# ARP FUNCTIONS
# -------------------------------
def avg_rec_popularity(recs, pop_map):
    return np.mean([pop_map.get(item, 0) for item in recs])

def popularity_lift(recs, pop_map, catalog_mean=None):
    arp = avg_rec_popularity(recs, pop_map)
    if catalog_mean is None:
        catalog_mean = np.mean(list(pop_map.values()))
    lift = arp / catalog_mean
    return lift, arp, catalog_mean

# -------------------------------
# CALCULATE ARP FOR RECOMMENDED MOVIES
# -------------------------------
lift, arp, catalog_mean = popularity_lift(recommended_movie_ids, pop_map)

print("\n=== ARP ANALYSIS FOR RECOMMENDATIONS ===")
print("Recommended Movie IDs:", recommended_movie_ids)
print("ARP:", arp)
print("Catalog Mean:", catalog_mean)
print("Popularity Lift:", lift)

=== Top 20 Movies Based on Weighted Rating ===
          id                                              title  vote_average  \
1881     278                           The Shawshank Redemption           8.5
65       155                                    The Dark Knight           8.2
662      550                                         Fight Club           8.3
96     27205                                          Inception           8.1
3232     680                                       Pulp Fiction           8.3
95    157336                                       Interstellar           8.1
809       13                                       Forrest Gump           8.2
3337     238                                      The Godfather           8.4
329      122      The Lord of the Rings: The Return of the King           8.1
262      120  The Lord of the Rings: The Fellowship of the Ring           8.0
1990    1891                            The Empire Strikes Back           8.2
94    118340                            Guardians of the Galaxy           7.9
2912      11                                          Star Wars           8.1
330      121              The Lord of the Rings: The Two Towers           8.0
634      603                                         The Matrix           7.9
1553     807                                              Se7en           8.1
287    68718                                   Django Unchained           7.8
77    150540                                         Inside Out           8.0
1818     424                                   Schindler's List           8.3
3865  244786                                           Whiplash           8.3

      vote_count  weighted_rating
1881        8205         7.848921
65         12002         7.773906
662         9413         7.760909
96         13752         7.736417
3232        8428         7.714609
95         10867         7.660997
809         7927         7.615595
3337        5893         7.614467
329         8064         7.550188
262         8705         7.506082
1990        5879         7.481416
94          9742         7.469939
2912        6624         7.468270
330         7487         7.448939
634         8907         7.439884
1553        5765         7.406646
287        10099         7.404766
77          6560         7.395732
1818        4329         7.389026
3865        4254         7.379660

=== ARP ANALYSIS FOR RECOMMENDATIONS ===
Recommended Movie IDs: [19995, 206647, 1452, 285, 49026]
ARP: 8.510841384235125
Catalog Mean: 5.2229393957142305
Popularity Lift: 1.629511801576491

In [8]:
import pandas as pd
import numpy as np

# -------------------------------
# LOAD DATA
# -------------------------------
movies = pd.read_csv("tmdb_5000_movies.csv")

# -------------------------------
# GLOBAL VALUES FOR BAYESIAN FORMULA
# -------------------------------
C = movies['vote_average'].mean()        # global mean rating
m = movies['vote_count'].quantile(0.95)  # vote threshold (70th percentile)

# -------------------------------
# BAYESIAN WEIGHTED RATING FORMULA
# Formula: (v/(v+m))*R + (m/(v+m))*C
# -------------------------------
def bayesian_weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v / (v + m)) * R + (m / (v + m)) * C

# Apply formula
movies['bayesian_score'] = movies.apply(bayesian_weighted_rating, axis=1)

# -------------------------------
# GET TOP 20 MOVIES
# -------------------------------
top_movies = movies.sort_values('bayesian_score', ascending=False).head(20)
print("=== Top 20 Movies Based on Bayesian Weighted Rating ===")
print(top_movies[['id','title','vote_average','vote_count','bayesian_score']])

# -------------------------------
# RECOMMENDED MOVIE IDS
# -------------------------------
recommended_movie_ids = [19995, 206647, 1452, 285, 49026]

# -------------------------------
# POPULARITY MAP FOR ARP
# -------------------------------
def item_popularity_map(df_items, pop_col='vote_count', log_scale=True):
    pop_values = df_items.set_index('id')[pop_col].to_dict()
    if log_scale:
        pop_values = {k: np.log1p(v) for k, v in pop_values.items()}
    return pop_values

pop_map = item_popularity_map(movies)

# -------------------------------
# ARP FUNCTIONS
# -------------------------------
def avg_rec_popularity(recs, pop_map):
    return np.mean([pop_map.get(item, 0) for item in recs])

def popularity_lift(recs, pop_map, catalog_mean=None):
    arp = avg_rec_popularity(recs, pop_map)
    if catalog_mean is None:
        catalog_mean = np.mean(list(pop_map.values()))
    lift = arp / catalog_mean
    return lift, arp, catalog_mean

# -------------------------------
# CALCULATE ARP FOR RECOMMENDED MOVIES
# -------------------------------
lift, arp, catalog_mean = popularity_lift(recommended_movie_ids, pop_map)

print("\n=== ARP ANALYSIS FOR BAYESIAN RECOMMENDATIONS ===")
print("Recommended Movie IDs:", recommended_movie_ids)
print("ARP:", arp)
print("Catalog Mean:", catalog_mean)
print("Popularity Lift:", lift)

=== Top 20 Movies Based on Bayesian Weighted Rating ===
          id                                              title  vote_average  \
1881     278                           The Shawshank Redemption           8.5
65       155                                    The Dark Knight           8.2
662      550                                         Fight Club           8.3
96     27205                                          Inception           8.1
3232     680                                       Pulp Fiction           8.3
95    157336                                       Interstellar           8.1
809       13                                       Forrest Gump           8.2
3337     238                                      The Godfather           8.4
329      122      The Lord of the Rings: The Return of the King           8.1
262      120  The Lord of the Rings: The Fellowship of the Ring           8.0
1990    1891                            The Empire Strikes Back           8.2
94    118340                            Guardians of the Galaxy           7.9
2912      11                                          Star Wars           8.1
330      121              The Lord of the Rings: The Two Towers           8.0
634      603                                         The Matrix           7.9
1553     807                                              Se7en           8.1
287    68718                                   Django Unchained           7.8
77    150540                                         Inside Out           8.0
1818     424                                   Schindler's List           8.3
3865  244786                                           Whiplash           8.3

      vote_count  bayesian_score
1881        8205        7.848921
65         12002        7.773906
662         9413        7.760909
96         13752        7.736417
3232        8428        7.714609
95         10867        7.660997
809         7927        7.615595
3337        5893        7.614467
329         8064        7.550188
262         8705        7.506082
1990        5879        7.481416
94          9742        7.469939
2912        6624        7.468270
330         7487        7.448939
634         8907        7.439884
1553        5765        7.406646
287        10099        7.404766
77          6560        7.395732
1818        4329        7.389026
3865        4254        7.379660

=== ARP ANALYSIS FOR BAYESIAN RECOMMENDATIONS ===
Recommended Movie IDs: [19995, 206647, 1452, 285, 49026]
ARP: 8.510841384235125
Catalog Mean: 5.2229393957142305
Popularity Lift: 1.629511801576491

In [9]:
import pandas as pd
import numpy as np

# ---------------------------------------------------
# LOAD DATA
# ---------------------------------------------------
movies = pd.read_csv("tmdb_5000_movies.csv")

# ---------------------------------------------------
# GLOBAL VALUES FOR WEIGHTED RATING FORMULA
# ---------------------------------------------------
C = movies['vote_average'].mean()        # global average rating
m = movies['vote_count'].quantile(0.70)  # vote threshold

# ---------------------------------------------------
# WEIGHTED RATING FORMULA (TID FORMULA)
# Formula = (v*R/(v+m)) + (m*C/(v+m))
# ---------------------------------------------------
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v * R / (v + m)) + (m * C / (v + m))

# Add weighted rating column
movies['weighted_rating'] = movies.apply(weighted_rating, axis=1)

# ---------------------------------------------------
# GINI INDEX FUNCTION
# ---------------------------------------------------
def gini_from_array(x):
    x = np.asarray(x, dtype=np.float64).flatten()

    if x.size == 0:
        return np.nan
    
    # If values are negative → shift
    if x.min() < 0:
        x = x - x.min()
    
    # If all values zero
    if np.allclose(x, 0):
        return 0.0
    
    # Sort values
    x = np.sort(x)
    n = x.size
    cumw = np.arange(1, n + 1) * x
    sum_x = x.sum()
    
    gini = (2.0 * cumw.sum()) / (n * sum_x) - (n + 1.0) / n
    return float(np.clip(gini, 0.0, 1.0))

def gini_summary(name, series):
    g = gini_from_array(series)
    print(f"{name}: Gini = {g:.6f}, Mean = {np.mean(series):.6f}")
    return g

# ---------------------------------------------------
# COMPUTE GINI INDEX
# ---------------------------------------------------
print("\n=== GINI INDEX RESULTS ===")

gini_weighted = gini_summary("Weighted Rating (all movies)", movies['weighted_rating'])
gini_vote = gini_summary("Vote Count (raw)", movies['vote_count'])
gini_logvote = gini_summary("Log1p Vote Count", np.log1p(movies['vote_count']))

# ---------------------------------------------------
# GINI FOR RECOMMENDED MOVIES
# ---------------------------------------------------
recommended_movie_ids = [19995, 140607, 135397, 76341, 87827]

rec_mask = movies['id'].isin(recommended_movie_ids)

if rec_mask.any():
    gini_recs = gini_summary("Weighted Rating (Recommended Movies)", movies.loc[rec_mask, 'weighted_rating'])
else:
    print("ERROR: Recommended movie IDs not found in dataset.")

=== GINI INDEX RESULTS ===
Weighted Rating (all movies): Gini = 0.031543, Mean = 6.219578
Vote Count (raw): Gini = 0.698246, Mean = 690.217989
Log1p Vote Count: Gini = 0.205339, Mean = 5.222939
Weighted Rating (Recommended Movies): Gini = 0.018465, Mean = 6.964287

In [10]:
import pandas as pd
import numpy as np

# -------------------------------------------
# Load dataset
# -------------------------------------------
movies = pd.read_csv("tmdb_5000_movies.csv")

# -------------------------------------------
# Bayesian Weighted Rating Formula
# WR = (v/(v+m))*R + (m/(v+m))*C
# -------------------------------------------

C = movies['vote_average'].mean()     # global mean rating
m = movies['vote_count'].quantile(0.70)   # minimum votes threshold (you can choose)

def bayesian_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m))*R + (m/(v+m))*C

movies['bayesian_rating'] = movies.apply(bayesian_rating, axis=1)

# -------------------------------------------
# Gini Index Calculation
# -------------------------------------------
def gini(values):
    values = np.array(values)
    values = values.flatten()
    if np.amin(values) < 0:
        values -= np.amin(values)   # shift to remove negative values
    values += 1e-9                  # avoid division by zero

    values_sorted = np.sort(values)
    n = len(values_sorted)
    cumulative = np.cumsum(values_sorted)

    gini_index = (n + 1 - 2 * np.sum(cumulative) / cumulative[-1]) / n
    return gini_index

gini_bayesian = gini(movies['bayesian_rating'])
catalog_mean_bayesian = movies['bayesian_rating'].mean()

# -------------------------------------------
# Print Results
# -------------------------------------------
print("Gini Index (Bayesian Rating):", gini_bayesian)
print("Catalog Mean (Bayesian Rating):", catalog_mean_bayesian)

Gini Index (Bayesian Rating): 0.03154332676603418
Catalog Mean (Bayesian Rating): 6.219578350538971

In [11]:
import pandas as pd
import numpy as np

# --------------------------------------------------------
# LOAD DATA
# --------------------------------------------------------
movies = pd.read_csv("tmdb_5000_movies.csv")

# --------------------------------------------------------
# GLOBAL VALUES FOR FORMULA
# --------------------------------------------------------
C = movies['vote_average'].mean()        # global average rating
m = movies['vote_count'].quantile(0.70)  # threshold

# --------------------------------------------------------
# YOUR WEIGHTED RATING FORMULA
# (v * R / (v + m)) + (m * C / (v + m))
# --------------------------------------------------------
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v * R / (v + m)) + (m * C / (v + m))

movies["weighted_score"] = movies.apply(weighted_rating, axis=1)

# --------------------------------------------------------
# SORT MOVIES BY WEIGHTED SCORE
# --------------------------------------------------------
sorted_movies = movies.sort_values("weighted_score", ascending=False)

# --------------------------------------------------------
# TOP-K LISTS
# --------------------------------------------------------
top5 = sorted_movies.head(5)["weighted_score"].values
top10 = sorted_movies.head(10)["weighted_score"].values
top20 = sorted_movies.head(20)["weighted_score"].values

# --------------------------------------------------------
# GINI INDEX FUNCTION
# --------------------------------------------------------
def gini_coefficient(values):
    values = np.array(values)
    values = values.flatten()

    # Ensure no negative values
    if np.amin(values) < 0:
        values -= np.amin(values)

    values += 1e-10  # prevent division error
    values_sorted = np.sort(values)
    n = values.shape[0]
    index = np.arange(1, n+1)

    return np.sum((2 * index - n - 1) * values_sorted) / (n * np.sum(values_sorted))

# --------------------------------------------------------
# CALCULATE GINI VALUES
# --------------------------------------------------------
gini_5 = gini_coefficient(top5)
gini_10 = gini_coefficient(top10)
gini_20 = gini_coefficient(top20)

# --------------------------------------------------------
# PRINT FINAL OUTPUT
# --------------------------------------------------------
print("=== GINI INDEX USING YOUR FORMULA ===")
print("Formula: (v * R / (v + m)) + (m * C / (v + m))")
print("--------------------------------------")
print("Gini@5  :", round(gini_5, 6))
print("Gini@10 :", round(gini_10, 6))
print("Gini@20 :", round(gini_20, 6))

=== GINI INDEX USING YOUR FORMULA ===
Formula: (v * R / (v + m)) + (m * C / (v + m))
--------------------------------------
Gini@5  : 0.004994
Gini@10 : 0.00651
Gini@20 : 0.00803

In [12]:
import pandas as pd
import numpy as np

# --------------------------------------------------------
# LOAD DATA
# --------------------------------------------------------
movies = pd.read_csv("tmdb_5000_movies.csv")

# --------------------------------------------------------
# GLOBAL VALUES FOR BAYESIAN FORMULA
# --------------------------------------------------------
C = movies['vote_average'].mean()        # global mean rating
m = movies['vote_count'].quantile(0.70)  # vote threshold

# --------------------------------------------------------
# BAYESIAN WEIGHTED RATING FORMULA
# --------------------------------------------------------
def bayesian_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m)) * R + (m/(v+m)) * C

movies["bayesian_score"] = movies.apply(bayesian_rating, axis=1)

# --------------------------------------------------------
# SORT MOVIES BY BAYESIAN SCORE
# --------------------------------------------------------
sorted_movies = movies.sort_values("bayesian_score", ascending=False)

# --------------------------------------------------------
# TOP-K LISTS
# --------------------------------------------------------
top5 = sorted_movies.head(5)["bayesian_score"].values
top10 = sorted_movies.head(10)["bayesian_score"].values
top20 = sorted_movies.head(20)["bayesian_score"].values

# --------------------------------------------------------
# GINI INDEX FUNCTION
# --------------------------------------------------------
def gini_coefficient(values):
    values = np.array(values)
    values = values.flatten()

    # remove negative possibility
    if np.amin(values) < 0:
        values -= np.amin(values)

    values += 1e-10  # avoid division by zero
    values_sorted = np.sort(values)
    n = values.shape[0]
    index = np.arange(1, n+1)

    return np.sum((2 * index - n - 1) * values_sorted) / (n * np.sum(values_sorted))

# --------------------------------------------------------
# CALCULATE GINI VALUES
# --------------------------------------------------------
gini_5 = gini_coefficient(top5)
gini_10 = gini_coefficient(top10)
gini_20 = gini_coefficient(top20)

# --------------------------------------------------------
# PRINT FINAL OUTPUT
# --------------------------------------------------------
print("=== GINI INDEX USING BAYESIAN WEIGHTED RATING ===")
print("Formula: (v/(v+m)) * R + (m/(v+m)) * C")
print("--------------------------------------------")
print("Gini@5  :", round(gini_5, 6))
print("Gini@10 :", round(gini_10, 6))
print("Gini@20 :", round(gini_20, 6))

=== GINI INDEX USING BAYESIAN WEIGHTED RATING ===
Formula: (v/(v+m)) * R + (m/(v+m)) * C
--------------------------------------------
Gini@5  : 0.004994
Gini@10 : 0.00651
Gini@20 : 0.00803

In [13]:
import pandas as pd
import numpy as np

# Load TMDB dataset
movies = pd.read_csv("tmdb_5000_movies.csv")

# Parameters
C = movies['vote_average'].mean()  # global average
m = 50  # damping factor

# Weighted Rating using your formula
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v * R / (v + m)) + (m * C / (v + m))

movies['weighted_rating'] = movies.apply(weighted_rating, axis=1)

# Sort movies by weighted rating
top_movies = movies.sort_values('weighted_rating', ascending=False)

# ARP function
def arp_at_k(k):
    top_k = top_movies.head(k)
    return top_k['vote_count'].mean()

# Compute ARP@5, @10, @20
for k in [5, 10, 20]:
    arp = arp_at_k(k)
    print(f"ARP@{k}: {arp:.2f}")

ARP@5: 7253.60
ARP@10: 6762.90
ARP@20: 4803.00

In [14]:
import pandas as pd
import numpy as np

# Load TMDB dataset
movies = pd.read_csv("tmdb_5000_movies.csv")

# Global parameters
C = movies['vote_average'].mean()  # global average rating
m = 50  # minimum votes threshold

# Bayesian Rating formula
def bayesian_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v * R + m * C) / (v + m)

movies['bayesian_rating'] = movies.apply(bayesian_rating, axis=1)

# Sort movies by Bayesian rating
top_movies = movies.sort_values('bayesian_rating', ascending=False)

# ARP function
def arp_at_k(k):
    top_k = top_movies.head(k)
    return top_k['vote_count'].mean()

# Compute ARP@5, @10, @20
for k in [5, 10, 20]:
    arp = arp_at_k(k)
    print(f"Bayesian ARP@{k}: {arp:.2f}")

Bayesian ARP@5: 7253.60
Bayesian ARP@10: 6762.90
Bayesian ARP@20: 4803.00

In [15]:
import pandas as pd

# Load TMDB dataset
movies = pd.read_csv("tmdb_5000_movies.csv")

# Parameters for weighted rating
C = movies['vote_average'].mean()  # global average rating
m = 50  # damping factor

# Weighted rating formula
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v * R / (v + m)) + (m * C / (v + m))

# Apply weighted rating
movies['weighted_rating'] = movies.apply(weighted_rating, axis=1)

# Sort movies by weighted rating
top_movies = movies.sort_values('weighted_rating', ascending=False)

# Function to calculate ARP@K
def arp_at_k(k):
    top_k = top_movies.head(k)
    return top_k['vote_count'].mean()

# Compute ARP@5, @10, @20
for k in [5, 10, 20]:
    arp = arp_at_k(k)
    print(f"Weighted Rating ARP@{k}: {arp:.2f}")

Weighted Rating ARP@5: 7253.60
Weighted Rating ARP@10: 6762.90
Weighted Rating ARP@20: 4803.00

In [16]:
import pandas as pd

# Load TMDB dataset
movies = pd.read_csv("tmdb_5000_movies.csv")

# Parameters
C = movies['vote_average'].mean()  # global average rating
m = 50  # damping factor

# Weighted Rating formula (classic form)
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v * R / (v + m)) + (m * C / (v + m))

# Apply weighted rating
movies['weighted_rating'] = movies.apply(weighted_rating, axis=1)

# Sort movies by weighted rating descending
top_movies = movies.sort_values('weighted_rating', ascending=False)

# Function to calculate ARP@K
def arp_at_k(k):
    top_k = top_movies.head(k)
    return top_k['vote_count'].mean()

# Compute ARP@5, @10, @20
for k in [5, 10, 20]:
    arp = arp_at_k(k)
    print(f"Weighted Rating ARP@{k}: {arp:.2f}")

Weighted Rating ARP@5: 7253.60
Weighted Rating ARP@10: 6762.90
Weighted Rating ARP@20: 4803.00